{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css\bootstrap.css' %}">
    </head>
<body>
 <form action=""metode="post">
     <table class="table d-flex justify-content-center">
        <tr>
            <th class=h1>LOGIN HERE</th>
        </tr>
        <tr>
        <td>
            <input class="form-control input-group-lg"  type="text"placeholder="username">
        </td>
    </tr>
        <tr>
        <td>
            <input class="form-control input-group-lg" type="password"placeholder="password">
        </td>
    </tr>
    <tr class="btn">
        <td><input type="submit"value="LOGIN"></td>
    </tr>
    </form>
    </table>
</body>
</html>